@media screen and (max-width : 769px) {
    section {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .header-container {
        width: 100%;
        max-width: 100%;
    }
    .logo-img {
        width: 150px;
    }

    .header-title {
        margin-bottom: 20px;
    }

    .about-section {
        text-align: center;

    }
    .about-img {
        margin-top: 50px;
    }
    .cover-photo-section {
        height: 70vh;

    }
}
@media screen and (max-width: 420px) {
    .nav-link {
        padding: 5px;
        font-size: 90%;
    }

}