*, *::before,*::after {
    box-sizing: border-box;
    text-decoration: none;
}

  :root {
    --ff-primary:  'Lato', sans-serif;
    --ff-secondary:'Lato', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-primary: #CC0033;
    --clr-accent: #339933;
    --cl-dark: #000;
    --clr-offgrey: rgb(89, 103, 109);
    
    /*#465962 alternative for off-grey */
    --fs-h1: 5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.25);
}

html {
    scroll-behavior: smooth;
  }
body {
    font-family: var(--ff-primary);
    color: var(--clr-dark);
    transition: all 0.2s ease-in-out;
}

a {
    text-decoration: none;
}

section {
    padding: 100px 0 0 0 ;
}
p {
    font-size: 120%;
}

h1:after {
    display: block;
    height: 2px;
    background-color: var(--clr-primary);
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/*********************************** Functionality and Features*************************************************************/
/* Scroll Feature */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--clr-primary);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background-color: var(--clr-accent)
  }
  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }
/*********************************** Functionality and Features*************************************************************/
/********** Header **********/

.logo-img {
    width: 120px;
    height: auto;
    margin: 0 auto;
}
.header-container {
    padding: 10px 0;
}
a.phone-link {
    text-decoration: none;
    padding-bottom: 5px;
    color: inherit;
}
a.phone-link:hover {
    border-bottom: 1px solid var(--clr-accent);
}
.nav {
    background-color: rgb(241, 240, 240);
    color: #000;
    padding: 5px;
}

.nav-link {
    color: #000;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.nav-link:hover {
    color: var(--clr-primary);
}

.landing-section {
    width: 100%;
    height: 80vh;


    /* Flexbox stuff */
    position: relative;
    display:flex;
    /* Text styles */
    
    /* Background styles */
    background-image:  url("https://res.cloudinary.com/berkindesign/image/upload/v1593823908/HeroImage2-min_sgusag.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* About Section */
.about-img,.team-img {
    width: 100%;
    height: auto;
}

/* Team Section */
.team-section,.about-section {
    padding-bottom: 100px;
}


/* Services Section */
.services-section {
    position: relative;
    display:flex;
    /* Text styles */
    /* Background styles */
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url("https://res.cloudinary.com/berkindesign/image/upload/v1593824168/ServicesBackground-min_loq4iy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
}


    .service-col {
        background: rgba(255,255,255,0.15);
        margin: 10px;
        padding: 20px;
        text-align: center;
        height: 200px;
        font-size: 120%;
        display: flex;
    }


    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 1 / 5 / 2 / 6; }
        .div6 { grid-area: 2 / 1 / 3 / 2; }
        .div7 { grid-area: 2 / 2 / 3 / 3; }
        .div8 { grid-area: 2 / 3 / 3 / 4; }
        .div9 { grid-area: 2 / 4 / 3 / 5; }
        .div10 { grid-area: 2 / 5 / 3 / 6; }



/* Experience Section */
.experience-section {
    background-color: var(--clr-primary);
    color: #fff;
    padding: 20px;
}


.number-big {
    font-size: 400%;
}

/* Cover Photo Section */

.cover-photo-section {
    width: 100%;
    height: 50vh;


    /* Flexbox stuff */
    position: relative;
    display:flex;
    /* Text styles */
    
    /* Background styles */
    background-image:  url("https://res.cloudinary.com/berkindesign/image/upload/v1593824169/CoverSection-min_w6zbej.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* Contact Section */
.contact-section {
    padding-bottom: 50px;
}
.contact-btn {
    background-color: var(--clr-primary);
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 120px;
    height: 40px;
margin-right: 5px;
}
.contact-btn:hover{
    color: #fff;
    background-color: rgb(180, 0, 45);

}

footer {
    background-color: rgb(241, 240, 240);
    padding: 10px;
    font-size: 80%;

}